.container {
  margin-top: 15px;
}

.container .form-inline .lead {
  margin: 0px 10px 15px 10px;
}

.container .form-inline .btn-info {
  margin-left: 5px;
}

.container .form-inline .btn-danger {
  margin-left: 5px;
}

.container .card {
  margin: 10px 0px 10px 10px;
}

.container .card .row {
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.container .card-columns .card img {
  height: 275px;
}

